<form id="propertiesForm" #frm="ngForm" (ngSubmit)="onFormSubmit($event)">
  <div class="dx-fieldset" style="margin:0;" *ngIf="getProperties()">
    <div class="dx-fieldset-header">Properties</div>
    <div class="dx-field">
        <div class="dx-field-label">Name</div>
        <div class="dx-field-value">
          <dx-text-box [(value)]=prop.name (onChange)="onChange($event)" [inputAttr]="{name: 'name'}">
            <dx-validator>
              <dxi-validation-rule type="custom" message="Name is required" [validationCallback]="validationCallback"></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
    </div>
    <div class="dx-field">
        <div class="dx-field-label">Comment</div>
        <div class="dx-field-value">
          <dx-text-box [(value)]=prop.comment (onChange)="onChange($event)" [inputAttr]="{name: 'comment'}">
          </dx-text-box>
        </div>
    </div>
    <div class="dx-fieldset" style="margin:0;" *ngIf="prop.history">
      <div class="dx-fieldset-header">History</div>
      <div class="dx-field" *ngIf="prop.history">
        <div class="dx-field-label">Tool</div>
        <div class="dx-field-value">
          <dx-text-box [(value)]=prop.history.tool (onChange)="onChange($event)" [inputAttr]="{name: 'tool'}">
            <dx-validator>
              <dxi-validation-rule type="custom" message="Tool is required" [validationCallback]="validationCallback"></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
        <div class="dx-field-label">User</div>
        <div class="dx-field-value">
          <dx-text-box [(value)]=prop.history.user (onChange)="onChange($event)" [inputAttr]="{name: 'user'}">
            <dx-validator>
              <dxi-validation-rule type="custom" message="Username is required" [validationCallback]="validationCallback"></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
        <div class="dx-field-label">Date</div>
        <div class="dx-field-value">
          <dx-text-box [(value)]=prop.history.date (onChange)="onChange($event)" [inputAttr]="{name: 'date'}">
            <dx-validator>
              <dxi-validation-rule type="custom" message="Date is required" [validationCallback]="validationCallback"></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </div>
    </div>
    <div class="dx-field" *ngIf="prop.type">
        <div class="dx-field-label">Type</div>
        <div class="dx-field-value">
          <dx-select-box [items]="allowedDataTypes"
                          [inputAttr]="{name: 'type'}"
                          placeholder="Choose the data type"
                          [value]="prop.type"
                          (onChange)="onChange($event)"
                          (onValueChanged)="onValueChanged($event)">
            <dx-validator>
              <dxi-validation-rule type="custom" message="Type is required" [validationCallback]="validationCallback"></dxi-validation-rule>
            </dx-validator>
          </dx-select-box>
        </div>
    </div>
    <div class="dx-field" *ngIf="prop.unit">
        <div class="dx-field-label">Unit</div>
        <div class="dx-field-value">
          <dx-text-box [(value)]=prop.unit (onChange)="onChange($event)" [inputAttr]="{name: 'unit'}">
            <dx-validator>
              <dxi-validation-rule type="custom" message="Unit is required" [validationCallback]="validationCallback"></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
    </div>
    <div class="dx-field" *ngIf="prop.dimensions">
      <div *ngFor="let dimI of this.prop.dimensions; index as I; trackBy: trackArray">
        <div class="dx-field-label">Dimension {{I+1}}</div>
        <div class="dx-field-value">
          <dx-text-box [(value)]=dimI.size (onChange)="onChange($event)" [inputAttr]="{name: 'dimensionSize'}">
            <dx-validator>
              <dxi-validation-rule type="custom" message="Size is required" [validationCallback]="validationCallback"></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
        <div *ngIf="dimI.scale">
          <div class="dx-field-label">Scale {{I+1}}</div>
          <div class="dx-field-value">
            <dx-text-box [(value)]=dimI.scale (onChange)="onChange($event)" [inputAttr]="{name: 'dimensionScale'}">
              <dx-validator>
                <dxi-validation-rule type="custom" message="Scale is required" [validationCallback]="validationCallback"></dxi-validation-rule>
              </dx-validator>
            </dx-text-box>
          </div>
        </div>
      </div>
    </div>
    <div class="dx-field" *ngIf="prop.variants">
      <div *ngFor="let varI of this.prop.variants; index as I; trackBy: trackArray">
        <div class="dx-field-label">Variant {{I+1}}</div>
        <div class="dx-field-value">
          <dx-text-box [(value)]=varI.name (onChange)="onChange($event)" [inputAttr]="{name: 'variantName'}">
            <dx-validator>
              <dxi-validation-rule type="custom" message="Variant is required" [validationCallback]="validationCallback"></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
        <div *ngIf="varI.comment">
          <div class="dx-field-label">Comment {{I+1}}</div>
          <div class="dx-field-value">
            <dx-text-box [(value)]=varI.comment (onChange)="onChange($event)" [inputAttr]="{name: 'variantComment'}">
            </dx-text-box>
          </div>
        </div>
      </div>
    </div>
    <!--
      If a button is not added,
      the form will never be submitted when pressing enter after editing a value.
      So adding a submit button and hide it.
    -->
    <button type="submit" [hidden]="true">Submit</button>
  </div>
</form>
