<div class="dx-fieldset" style="margin-left:0;margin-right:0;margin-bottom:0;" *ngIf="hasValues()">
  <div class="dx-fieldset-header">Value</div>
  <div *ngIf="getValueType() === 'valuesCube'" >
    <label for="#i0">(i,j,</label>
    <input type="number" id="#i0"  min="1" max="{{dimI}}" [(ngModel)]="i0" #name="ngModel" style="text-align: center;" (change)="onChange($event)">
    <label for="#i0">) =</label>
  </div>
  <div *ngIf="getValueType() === 'valuesHyperCube'">
    <label for="#i00">(i,j,</label>
    <input type="number" id="#j0"  min="1" max="{{dimJ}}" [(ngModel)]="j0" #name="ngModel" style="text-align: center;" (change)="onChange($event)">
    <label for="#j0">,</label>
    <input type="number" id="#i00"  min="1" max="{{dimI}}" [(ngModel)]="i0" #name="ngModel" style="text-align: center;" (change)="onChange($event)">
    ) =
  </div>
  <dx-data-grid
    id="gridContainer"
    [dataSource]="getData(i0, j0)"
    [customizeColumns]="customizeColumns"
    [showBorders]="true"
    [loadPanel]="loadPanelProps"
    (onEditingStart)="onEditingStart($event)"
    (onContentReady)="onContentReady($event)"
    (onContextMenuPreparing)="onContextMenuPreparing($event)">
    <dxo-paging [enabled]="true"></dxo-paging>
    <dxo-editing
         mode="cell"
         [allowUpdating]="true">
    </dxo-editing>
  </dx-data-grid>
</div>